.jl-heading-subtitle{
  margin: 0 !important;
}
.jl-heading-content {
   margin-bottom: -30px !important;
}
.jl-heading-title{
  position: relative;
  display: inline-block;
  padding: 5px 0;
}
.jl-heading-title-4{
  border-bottom: 1px solid $accent-color-1;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: -1px;
}
.jl-heading-style-4{
  border-bottom: 1px solid $accent-color-2;
}
 .jl-heading-title-5{
  border-bottom: 2px solid $accent-color-1;
  border-top: 2px solid $accent-color-1;
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: -1px;
  margin-top: -1px;
}
 .jl-heading-style-5{
  border-bottom: 1px solid $accent-color-2;
  border-top: 1px solid $accent-color-2;

}
.jl-heading-style-9{
   overflow: hidden;
 }
  .jl-heading-style-9 .jl-heading-title:before {
   content: '';
   position: absolute;
   right: 100%;
   top: 50%;
   height: 0px;
   width: 100%;
 }
  .jl-heading-style-9 .jl-heading-title:after {
   content: '';
   position: absolute;
   left: 100%;
   top: 50%;
   height: 0px;
   width: 100%;
 }
 .jl-heading-style-9 .jl-heading-title:after {
   border-bottom: 1px solid #444;
 }
  .jl-heading-style-9 .jl-heading-title:before {
   border-bottom: 1px solid #444;
 }


.jl-heading-style-10{
  overflow: hidden;
}
.jl-heading-style-10 .jl-heading-title:before {
  content: '';
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0px;
  width: 100%;
}
.jl-heading-style-10 .jl-heading-title:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0px;
  width: 100%;
}
.jl-heading-style-10 .jl-heading-title:after {
  border-bottom: 1px dashed #444;
}
.jl-heading-style-10 .jl-heading-title:before {
  border-bottom: 1px dashed #444;
}
